<div class="clear">
  <div class="clear" id="user-login">
    <div id="user-avatar">
      <a href="#" target="_parent"><img alt="bigfei" class="avatar" src=""/></a>
    </div>

    <div id="user-overview">
      <h2><a href="#" target="_parent" title="">&nbsp;</a></h2>

      <p></p>
    </div>
  </div>

  <div id="user-content">
    <div id="octocat">

      <div id="user-info">
        <ul class="clear" id="list-user-info">
          <li>
            <p id="repos"><strong>0</strong> <span>repos</span></p>

            <p id="forks"><strong>0</strong> <span>gists</span></p>
          </li>

          
          <li class="last">
            <p id="followers"><strong title="0">0</strong> <span>followers</span></p>

            <p id="following"><strong title="0">0</strong> <span>follows</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="repos">
    <div class="repo">
      

    </div>
  </div>



</div>


